html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	margin: 0px;
	padding: 0px;
    font-family: 'Ubuntu';
}

a {
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	height: 100vh;

    background-color: #343b48;
}

[id] { 
	scroll-margin-top: 150px; 
}

::selection {
	/* background-color: ;
	color: ; */
}


.canvas {
    display: flex;
    flex-wrap: wrap;
	gap: 5px;
	padding: 10px;

	/* Calculation based on square size: (10+10)+((40*16)+(5*15)) */
	width: 735px;
	background-color: #343b48 !important;
}

.square {
	height: 40px;
	width: 40px;
	background-color: #eceff4;
}


.toolbar {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem 0.5rem;
	background-color: #eceff4;
	border-top-right-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;

	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

}

img {
	height: 40px;
	width: 40px;
}

img:hover {
	cursor: pointer;
}